name: Build JetCPP

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up MinGW
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x64

    - name: Configure CMake
      run: |
        cmake -S . -B build -G "MinGW Makefiles"

    - name: Build
      run: |
        cmake --build build

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: JetCPP-Windows
        path: build/
